/* .form-class input{

    display: block;
    
}
.form-class label{
    margin-top: 20px;
}
*/
/* .form-class button{
    display: block;
}  */
h1,h2,p,form{
    text-align: center;
}
/* button{
    align-items: center;
} */